.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

/* Estilos para la barra nav */
#navbar > .container{
  height: 50px;
}
nav a {
  text-decoration: none;
}
.nav-item{
    position: relative;
    border-radius: 10px;
}
.nav-link {
  color: #3c474b !important;
  font-weight: bold;
}
.nav-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #3c474b, #293033, #141718);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}
.nav-item:hover::before {
  transform: scaleX(1);
}

/* ------ */

/* Categorias */

.tit_cat{
  color:#69A78E;
}

.col{
  position: relative;

  transition: 1s;
}
.col-3{
  animation: AchicaryAgrandar 2s ease 0s 1 normal forwards;
}
.col-3 > img:hover{
  animation: AchicaryAgrandar 2s ease 0s 1 normal forwards;
}
.col > div > h4:hover{
  animation: CambiarColorTrans 1s ease 0s 1 normal forwards;
  color: #293033;
}

@keyframes AchicaryAgrandar {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}
@keyframes CambiarColorTrans {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
/* ------- */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}


body {
  background-color: #162521;
  margin: 0;
  padding: 0;
}

.container h1 {
  color: #69A78E;
  font-family: Arial, Helvetica, sans-serif;
}

#loginForm {
  background-color: #c0e0de;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: fit-content;
  padding: 20px;
  border-radius: 50px;
  margin-left: 41%;
  padding-bottom: 30px;
}

.div_form {
  width: 100%;
  height: 50px;
  position: relative;
  overflow: hidden;
}

#form_login_requerido {
  width: 100%;
  height: 100%;
}
#usuario{
  margin-top: 20px;
}
#contra{
  margin-top: 20px;
}

#aviso_usuario {
  position: absolute; 
  bottom: 3px; 
  left: 60px; 
  transition: all 0.3s ease;
  color: #69A78E;
}

#usuario:focus + #aviso_usuario,
#usuario:valid + #aviso_usuario {
  transform: translateY(-100%); 
  transition: 0.5s;
  font-size: 0px; 
}

#contra:focus + #aviso_contra,
#contra:valid + #aviso_contra {
  transform: translateY(-100%); 
  transition: 0.5s;
  font-size: 0px; 
}

/* Loggin */

#loginForm{
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: 38%;
  box-shadow: 10px 24px 116px 0px #c0e0de;
}
.incorrecto{
background-color: rgb(232, 94, 94);
}
#aviso_contra {
  position: absolute; 
  bottom: 3px; 
  left: 59px; 
  transition: all 0.3s ease;
  color: #69A78E;
}
#logout > img{
  height: 30px;
  width: 30px;
  filter: invert(7%) sepia(9%) saturate(3150%) hue-rotate(113deg) brightness(94%) contrast(85%);
}
#logout{
  background-color: #69A78E;
  color: #162521;
  border-radius: 50px;
  margin-top: 10px;
  border: 1px solid;
  overflow: hidden;
  position: relative;
  z-index: 20;
}
#btn_login{
  background-color: #69A78E;
  color: #162521;
  border-radius: 50px;
  margin-top: 10px;
  border: 1px solid;
  overflow: hidden;
  position: relative;
  z-index: 20;
}

#logout:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .2;
  position: absolute;
  top: -50px;
  width: 50px;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  transform: rotate(35deg);
  z-index: -10;
}
#logout:hover:after {
  left: 120%;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

#btn_login:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .2;
  position: absolute;
  top: -50px;
  width: 50px;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  transform: rotate(35deg);
  z-index: -10;
}
#btn_login:hover:after {
  left: 120%;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
/* ------- */

/* Contenedor de index */

.container {
  background-color: #c0e0de;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}
#juguetes, #autos, #muebles{
    border: 2px solid #212521;
    border-radius: 8px;
    
}

.bd-placeholder-img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#btn_mas{
    border: 2px solid #212521;
    border-radius: 8px;
    margin: 0%;
}

/* ---- */

.list-group-item img{
  border-radius: 50px;
  border-color: #69A78E;
  border-style: inset;
  border-width: 5px;
}

.list-group-item {
  color: #3c474b;
  border-radius: 30px;
}
.list-group-item h4 {
  font-weight: bolder;
  color: #69A78E;
  margin-top: 30px;
  margin-left: 30px;

}
.list-group-item p {
text-align: left;
margin-top: 50px;
margin-left: 30px;
}


/* a partir de este punto empeze a poner estilos para la lista de productos (por ahora autos) */

.pb-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pb-5 #container-list {
  background-color: #FAF7F6;
  width: 60%;
}

.car-card {
  padding: 10px;
  min-height: 120px;
  border: 1px solid #ECECEC;
  border-radius: 2%;
  transition: 0.7s;
  font-size: 1rem;
}

.car-card:hover{
  cursor: pointer;
  background-color: #0087F7;
}

.car-card p + p {
  font-size: 0.82rem;
}

.car-card p span {
  float: right;
  font-size: 0.67rem;
}

.car-card img{
  float: left;
  width: 150px;
  margin-right: 8px;
}
/* Código aplicado al buscador de productos */
.search-container {
  display: flex;
  justify-content: flex-end; 
  padding: 10px;
  margin-left: auto;
  margin-right: 250px; 
}

#busqueda {
  color: #69A78E;
  border-radius: 10px;
}

/* Estilos aplicados al filtrado de productos */
#filtros-por-rangos span {
  font-size: 1.2rem;
}
#filtros-por-rangos input {
  border-radius: 10px;
}
#filtros-por-rangos button {
  border-radius: 5px;
  width: 100px;
  transition: 0.3s;
}
#boton-filtrar-por-rangos:hover {
  cursor: pointer;
  background-color: #0087F7;
}
#boton-filtrar-por-rangos:active {
  background-color: #005ba5;
}

/* Estilos aplicados a comentarios */
#div_comment {
  margin-top: 50px;
  display: grid;
  place-items: center;
}

#div_comment h2 {
  color: #c0e0de;
  font-weight: bold;
}
#div_comment p {
  margin-bottom: 10px;
  color: #69A78E;
}
#comentario {
  resize: both;
  width: 300px;
  height: 100px;
  margin-bottom: 10px;
}
#div_comment button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #69A78E;
  color: #162521;
  font-weight: bold;
  border-radius: 30px;
  padding: 5px;
}
#div_comment button:hover {
  background-color: #69A78E;
  color: #ECECEC;
}

.puntuación {
  display: flex;
  align-items: center;
}

input[type="radio"] {
  display: none; /* Borra los botoncitos del radio button */
}

label.star {
  width: 53px; 
  height: 50px; 
  background-image: url('/img/estrellaoutline.png'); 
  background-size: cover;
  cursor: pointer;
  transition: background-image 1s ease-in-out;
  margin: 0 2px;
}

input[type="radio"]:checked + label {
  background-image: url('/img/estrella.png'); /* Reemplaza la imagen por una estrella pintada */
}

/* Comienza estilos para Products info */
#container-info > img {
  margin: auto;
  border-radius: 4px;
}
#container-info p {
  font-size: 1.3rem;
}
#container-info h1{
  color: #141718;
}
.div-texto{
  display: flex;
  justify-content:space-around;
}
.div-texto p {
  font-size: 1.4rem;
}
.div-imagenes{
  display: flex;
  justify-content: space-around;
}
.div-imagenes img{
  width: 270px;
  border-radius: 5px;
}