.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}


/*Estilo de pago del carrito*/
#formPago{ display: grid; 
background-color: #8bafa1;
padding-bottom: 5%;
}
.jumbotron .display-4 {
  font-weight: bold;
}

#formPago input[type="text"] {
margin-left: 10%;
margin-right: 10%;
}

#calculosGenerales{
  color: #3c474b;
}

/* Estilos para la barra nav */

nav a {
  text-decoration: none;
}

.nav-item {
  position: relative;
  border-radius: 10px;
}

.nav-link {
  color: #3c474b !important;
  font-weight: bold;
}

.nav-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #3c474b, #293033, #141718);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.nav-item:hover::before {
  transform: scaleX(1);
}

/* ------ */

/* Categorias */

.tit_cat {
  color: #69A78E;
}

#containerCategorias{
  background-color: #c0e0de;
  margin: 2%;
  border-radius: 15px;
}

#containerCategorias h2{
  color: #141718;
  font-size: 200%;
}

.col {
  position: relative;
  transition: 1s;
}

.col-3 {
  animation: AchicaryAgrandar 2s ease 0s 1 normal forwards;
}

.col-3>img:hover {
  animation: AchicaryAgrandar 2s ease 0s 1 normal forwards;
}

.col>div>h4:hover {
  animation: CambiarColorTrans 1s ease 0s 1 normal forwards;
  color: #293033;
}

@keyframes AchicaryAgrandar {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes CambiarColorTrans {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ------- */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}


body {
  background-color: #162521;
  margin: 0;
  padding: 0;
}

#loginForm {
  background-color: #c0e0de;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: fit-content;
  padding: 20px;
  border-radius: 50px;
  padding-bottom: 30px;
}

.div_form {
  width: 100%;
  height: 50px;
  position: relative;
  overflow: hidden;
}

#form_login_required {
  width: 100%;
  height: 100%;
}

#usuario {
  margin-top: 20px;
}

#contra {
  margin-top: 20px;
}

#aviso_email {
  position: absolute;
  bottom: 3px;
  left: 60px;
  transition: all 0.3s ease;
  color: #69A78E;
}

#email:focus+#aviso_email,
#email:valid+#aviso_email {
  transform: translateY(-100%);
  transition: 0.5s;
  font-size: 0px;
}

#contra:focus+#aviso_contra,
#contra:valid+#aviso_contra {
  transform: translateY(-100%);
  transition: 0.5s;
  font-size: 0px;
}

/* Login */

#loginForm {
  align-items: center;
  text-align: center;
  justify-content: center;
  box-shadow: 10px 24px 116px 0px #c0e0de;
}

.incorrect {
  background-color: rgb(232, 94, 94);
}

#aviso_contra {
  position: absolute;
  bottom: 3px;
  left: 59px;
  transition: all 0.3s ease;
  color: #69A78E;
}

#logout>img {
  height: 30px;
  width: 30px;
  filter: invert(7%) sepia(9%) saturate(3150%) hue-rotate(113deg) brightness(94%) contrast(85%);
}

#logout {
  background-color: #69A78E;
  color: #162521;
  border-radius: 50px;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 1px solid;
  overflow: hidden;
  position: relative;
  z-index: 20;
}

#btn_login {
  background-color: #69A78E;
  color: #162521;
  border-radius: 50px;
  margin-top: 10px;
  border: 1px solid;
  overflow: hidden;
  position: relative;
  z-index: 20;
}

#logout:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .2;
  position: absolute;
  top: -50px;
  width: 50px;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  transform: rotate(35deg);
  z-index: -10;
}

#logout:hover:after {
  left: 120%;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

#btn_login:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .2;
  position: absolute;
  top: -50px;
  width: 50px;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  transform: rotate(35deg);
  z-index: -10;
}

#btn_login:hover:after {
  left: 120%;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

/* ------- */

/* Contenedor de index */

.container {
  background-color: #c0e0de;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}

#juguetes,
#autos,
#muebles {
  border: 2px solid #212521;
  border-radius: 8px;

}

.bd-placeholder-img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#btn_mas {
  border: 2px solid #212521;
  border-radius: 8px;
  margin: 0%;
}

/* ---- */

.list-group-item img {
  border-radius: 50px;
  border-color: #69A78E;
  border-style: inset;
  border-width: 5px;
}

.list-group-item {
  color: #3c474b;
  border-radius: 30px;
}

.list-group-item h4 {
  font-weight: bolder;
  color: #69A78E;
  margin-top: 30px;
  margin-left: 30px;

}

.list-group-item p {
  text-align: left;
  margin-top: 50px;
  margin-left: 30px;
}


/*estilos para la lista de productos */

#products_class{
  margin: 1%;
}

.pb-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pb-5 #container-list {
  background-color: #FAF7F6;
  width: 60%;
}

.car-card {
  padding: 10px;
  min-height: 120px;
  border: 1px solid #ECECEC;
  border-radius: 2%;
  transition: 0.7s;
  font-size: 1rem;
}

.car-card:hover {
  cursor: pointer;
  background-color: #0087F7;
}

.car-card p+p {
  font-size: 0.82rem;
}

.car-card p span {
  float: right;
  font-size: 0.67rem;
}

.car-card img {
  float: left;
  width: 150px;
  margin-right: 8px;
}

/* Código aplicado al buscador de productos */
.search-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  margin-left: auto;
  margin-right: 250px;
}

#busqueda {
  color: #69A78E;
  border-radius: 10px;
}

/* Estilos aplicados al filtrado de productos */
#filtros-por-rangos span {
  font-size: 1.2rem;
}

#filtros-por-rangos input {
  border-radius: 10px;
}

#filtros-por-rangos button {
  border-radius: 5px;
  width: 100px;
  transition: 0.3s;
}

#boton-filtrar-por-rangos:hover {
  cursor: pointer;
  background-color: #0087F7;
}

#boton-filtrar-por-rangos:active {
  background-color: #005ba5;
}

/* Estilos aplicados a comentarios */

.contenedor-comentarios {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-comentario {
  width: 85%;
  margin-top: 7px;
  background-color: rgb(255, 252, 252);
  border: solid 2px rgb(75, 69, 69);
  border-radius: 4px;
}

.star:hover {
  color: gold;
}
.star {
  font-size: 50px;
  cursor: pointer;
  margin-right: 5px;
  color: black;
}
.nuevo{
  margin-left: 7.5%;

}

#div_comment {
  margin-top: 50px;
  display: grid;
  place-items: center;
}

#div_comment h2 {
  color: #c0e0de;
  font-weight: bold;
}

#div_comment p {
  margin-bottom: 10px;
  color: #ffffff;
  max-width: 90%;
}

#comentario {
  resize: both;
  width: 300px;
  height: 100px;
  max-width: 80%;
  margin-bottom: 10px;
}

#div_comment button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #69A78E;
  color: #162521;
  font-weight: bold;
  border-radius: 30px;
  padding: 5px;
}

#div_comment button:hover {
  background-color: #69A78E;
  color: #ECECEC;
}


/* Comienza estilos para Products info */

#container-info>img {
  margin: auto;
  border-radius: 4px;
}

#container-info p {
  font-size: 1.3rem;
}

#container-info h1 {
  color: #141718;
  font-family: 'Gabarito', cursive;
  background-color: #69A78E;
  margin: 2% 20% ;
  border-radius: 5px;
}

.div-texto {
  display: flex;
  justify-content: space-around;
  margin: 2% 2%;
}

.div-texto p {
  font-size: 1.4rem;
  background-color: #69A78E;
  margin: auto;
  padding: 2%;
  border-radius: 5px;
}

#container-info>p{
  border-radius: 5px;
}

#container-info p{
  background-color: #69A78E;
  margin: auto;
  padding: 2%;
  
}

.div-imagenes {
  display: flex;
  justify-content: space-around;
}

.div-imagenes img {
  width: 270px;
  border-radius: 5px;
}

.contenedor-comentarios h2{
  font-family: 'Gabarito', cursive;
  background-color: #69A78E;
  margin: 2% 5%;
  padding: 2%;
  border-radius: 5px;
}

/* Carousel css */

#carouselIMG {
  margin: 2%;
  max-width: 800px;
}

/* Evita que las imágenes del carrusel cambien de tamaño durante las transiciones */
.carousel-inner img {
  width: 100%;
  height: auto;
}


/* Modo Día */
.day-mode {
  background-color: white;
  color: black;
}

/* Modo Noche */
.night-mode {
  background-color: black;
  color: white;
}

#div_comment{
  background-color: #69A78E;
  margin: 2% 20%;
  border-radius: 5%;
}

#div_comment h2{
  margin-top: 3%;
  color: #FAF7F6;
}

/* Productos relacionados */
#productosRelacionados{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#productosRelacionados img{
  height: 200px;
  width: 300px;
  padding: 2%;
  margin: 2% 2%;
}

#h1-productos-relacionados{
  background-color: #A3E0DC;
  margin: 2% 30%;
  padding: 1%;
  border-radius: 10px;
  text-align: center;
  font-family: 'Tektur', cursive;
}

#productosRelacionados h3{
  text-align: center;
  background-color: #162521;
  color: #E6E4F6;
}

#productosRelacionados h2{
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bolder;
}

/* Vender */

#containerVender{
  background-color: #69A78E;
  margin: 2%;
  border-radius: 30px;
}

#containerDatosVender{
  background-color: #E6E4F6;
  margin: 1%;
  padding: 1%;
  border-radius: 30px;
}

/* Estilos formulario tipo de envio y direccion */
.container-info-envio{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-info-envio > form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Cambios para la responsividad */
img {
  max-width: 100%;
}

@media (max-width: 550px) {
  #div_comment {
    margin: 2% 2%
  }
  #h1-productos-relacionados{
    margin: 2% 5%;
  }
}

/*Carrito*/

#detallesCarrito {
  margin: 20px auto;
  padding: 20px;
}

table {
  width: 100%;
  align-items: center;
}

th {
  color: #fff;
  padding: 10px;
  text-align: center;
}

td {
  padding: 10px;
  vertical-align: middle;
}

td img {
  max-width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
}

#inputQuantity {
  width: 30%;
}
td:last-child {
  font-weight: bold;
  background-color: #8bafa1;
  vertical-align: middle;
  border-radius: 10px;
}
.container-info-envio{
  align-items: center;
  font-size: 14px;
  text-align: center;
}

#btnComprar {
  display: block;
  margin: 1% auto;
  padding: 1%;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: green;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#btnComprar:hover {
  background-color: darkgreen;
}

/*Carrito responsivo*/
@media (max-width: 768px) {
  
  table {
    display: block;
  }

  tr {
    display: block;
    margin-bottom: 10px;
  }

  th {
    display: none;
  }
  td {
    display: block;
    width: 100%; 
    text-align: center; 
  }

  td img {
    max-width: 50%; 
    display: block; 
    margin: 0 auto;
  }

  #btnComprar {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #btnComprar:hover {
    background-color: darkgreen;
  }
  

}

.error {
  display: none;
  color: red;
  font-size: 14px;
  margin-top: 4px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 128, 0, 0.8); /* Fondo verde semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Valor alto para que esté por encima de todo */
  transition: opacity 0.3s;
}
#snackbar {
  visibility: hidden;
  min-width: 300px;
  background-color: rgb(220, 238, 219);
  color: #387c2b;
  border-radius: 2px;
  padding: 20px;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s;
}

#snackbar.show {
  visibility: visible;
  opacity: 1;
}
.eliminar {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
}

/* ¡¡¡¡¡¡¡¡¡¡¡¡¡ Estilos para my-profile !!!!!!!!!!!!!!!!!*/
#img-profile {
  border-radius: 50px;
  max-width: 200px;
  max-height: 200px;
}